mat-form-field,
textarea {
  width: 100%;
}

mat-spinner {
  margin: auto;
}
.background {
  position: absolute;
  top: 55px;
  left: 0;
  bottom: 0;
  right: 0;
  background: url('https://lh3.googleusercontent.com/ZQ6OlHIGI5AtJiEjih2FagX3eyA6Z1uQQWkmitk9MzvS3vgotLyDifIdLVL89qUPBwQV5_2jdOYa3stbTuWPN1npbLD5uuoa3IXXOLlNO9L8f0Al0A70rhygYRQVJetBmCA6mUdkkQ=w2400')
    no-repeat center top;
  background-size: cover;
  content: '';
  z-index: -1;
  display: grid;
}
.benchmark-card {
  max-width: 75%;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.849);
}
.select {
  max-width: 45%;
  /* background-color: rgba(255, 255, 255, 0.849); */
  left: 0;
}
.title {
  max-width: 45%;
  right: 0;
  margin-left: 8%;
}
@media (max-width: 700px) {
  .select {
    max-width: 100%;
    left: 0;
  }
  .title {
    max-width: 100%;
    right: 0;
    margin-left: 0%;
  }
  .gradient {
    position: absolute;
    top: 0%;
    left: 0;
    bottom: 0;
    right: 0;
    content: '';
    z-index: 0;
    background: linear-gradient(rgba(255, 255, 255, 0), rgb(255, 255, 255));
  }
}
