<div class="background"><div class="gradient"></div></div>
<mat-card class="welcome">
  <mat-card-title> Workout Log</mat-card-title>
  <p>
    The one stop logging app for all your fitness needs! If you are a beginner
    or a pro, with our simple app you can
  </p>
  <ul>
    <li>Log any type of workout</li>
    <li>Track your goals or personal best in the Benchmark section</li>
    <li>Use the built in timer</li>
    <li>Or use our technique database to learn new movements</li>
  </ul>
</mat-card>
