<mat-toolbar class="header" color="disabled">
  <mat-toolbar-row>
    <span class="title">
      We are the group Code Five
    </span>
  </mat-toolbar-row>
</mat-toolbar>
<br>
<mat-card>
  <mat-card-header>
    <img mat-card-avatar src="../../assets/images/cm.jpg">
    <mat-card-title>Cliff Mccall</mat-card-title>
    <mat-card-subtitle>Temple, Texas</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image class="image" src='../../assets/images/crossfit.jpg' alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      Cliff's favourite exercise is a deadlift. He loves crossfit, the Alabama Crimson Tide and coding.
    </p>
  </mat-card-content>
</mat-card>
<br>
<mat-card>
  <mat-card-header>
    <img mat-card-avatar src="../../assets/images/dc.jpg">
    <mat-card-title>Donna Campbell</mat-card-title>
    <mat-card-subtitle>Battle Mountain, Nevada</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image class="image" src='../../assets/images/horseback-riding.jpg' alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      Donna loves horseback riding. She also enjoys spending time and playing with her grandchildren.
    </p>
  </mat-card-content>
</mat-card>
<br>
<mat-card>
  <mat-card-header>
    <img mat-card-avatar src="../../assets/images/rc.jpg">
    <mat-card-title>Regina Clifford</mat-card-title>
    <mat-card-subtitle>Jeddah, Saudi Arabia</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image class="image" src='../../assets/images/pilates.jpg' alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      Regina's favourite exercise is swimming and pilates. She loves to play the piano and code.
    </p>
  </mat-card-content>
</mat-card>
<br>
<mat-card>
  <mat-card-header>
    <img mat-card-avatar src="../../assets/images/tp.jpg">
    <mat-card-title>Tabitha</mat-card-title>
    <mat-card-subtitle>Plano, Texas</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image class="image" src='../../assets/images/running2.jpg' alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      Tabitha's favourite exercise is running and using the stair stepper. She loves to having fun and doing pranks.
    </p>
  </mat-card-content>
</mat-card>
<br>
<mat-card>
  <mat-card-header>
    <img mat-card-avatar src="../../assets/images/wh.jpg">
    <mat-card-title>Will Harris</mat-card-title>
    <mat-card-subtitle>Redding California</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image class="image" src='../../assets/images/cycling.jpg' alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      Will's favourite exerice is cycling. He loves to code and watch action movies.
    </p>
  </mat-card-content>
</mat-card>
<br>