<div class="background">
  <div class="gradient"></div>
</div>
<mat-card class="log-create-card">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onSaveLog(logForm)" #logForm="ngForm" *ngIf="!isLoading">
    <!-- datepicker  -->
    <mat-form-field class="date">
      <input matInput name="date" [matDatepicker]="picker" required placeholder="Select Date" [ngModel]="log?.date"
        #date="ngModel">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="date.invalid">Please Select A Date</mat-error>
    </mat-form-field>
    <mat-form-field class="title">
      <input matInput name="title" [ngModel]="log?.title" placeholder="Title (optional)" />
    </mat-form-field>
    <!-- textarea for main content -->
    <mat-form-field class="content">
      <textarea matInput rows="2" name="content" [ngModel]="log?.content" required placeholder="Log Your Workout Here"
        #content="ngModel"></textarea>
      <mat-error *ngIf="content.invalid">Tell us where all that sweat came from.</mat-error>
    </mat-form-field>
    <mat-form-field class="duration">
      <input matInput name="duration" [ngModel]="log?.duration" placeholder="Duration (optional)" />
    </mat-form-field>
    <!-- Submit button -->
    <!-- <mat-action-row> -->
    <button mat-raised-button color="accent" type="submit">Save</button>
    <button mat-raised-button routerLink="/log">Cancel</button>
    <!-- </mat-action-row> -->
  </form>
</mat-card>