.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}

.side-nav-content {
  z-index: 1;
}


@media (min-width: 768px) {
  .sidenav {
    display: none;
  }
}

@media only screen and (max-width: 890px) {
  .topBar {
      display: none;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

.spacer {
  flex: 1 1 auto;
}

/* li {
  color: white;
} */
