.background {
  position: absolute;
  top: 55px;
  left: 0;
  bottom: 0;
  right: 0;
  /*background: url('../../../assets/images/blue-sky-crossfit-training-daylight-1417006.jpg')
    no-repeat center top;*/
  background-size: cover;
  content: '';
  z-index: -1;
  display: grid;
}

.example-stretched-tabs {
  position: absolute;
  top: 9px;
  left: 0;
  bottom: 0;
  right: 0;
}

.videolayout {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
