<div class="background">
  <br>
  <mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
    <mat-tab label="CROSSFIT">
      <!-- 16:9 aspect ratio -->
      <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile>
          <div class="videolayout">
            <!-- kettleball swing video -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/vdezTMulJ-k" frameborder="0"
              allowfullscreen></iframe>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="videolayout">
            <!-- the air squat video-->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/C_VtOYc6j5c" frameborder="0"
              allowfullscreen></iframe>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="videolayout">
            <!-- front squat video -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/m4ytaCJZpl0" frameborder="0"
              allowfullscreen></iframe>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="videolayout">
            <!-- overhead squat video -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/RD_vUnqwqqI" frameborder="0"
              allowfullscreen></iframe>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="videolayout">
            <!-- shoulder press video -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/xe19t2_6yis" frameborder="0"
              allowfullscreen></iframe>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="videolayout">
            <!-- push press video -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/X6-DMh-t4nQ" frameborder="0"
              allowfullscreen></iframe>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="videolayout">
            <!-- the dead lift video -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/op9kVnSso6Q" frameborder="0"
              allowfullscreen></iframe>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="videolayout">
            <!-- the dumbbell press -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/AqzDJHxynwo" frameborder="0"
              allowfullscreen></iframe>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="videolayout">
            <!-- the front rack lunge -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/f3WLs_HutLw" frameborder="0"
              allowfullscreen></iframe>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="videolayout">
            <!-- the box jump -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/52r_Ul5k03g" frameborder="0"
              allowfullscreen></iframe>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-tab>

    <mat-tab label="WEIGHT TRAINING">
      <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile>
          <div class="videolayout">
            <!-- the beginners guide to weight training -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/zxHP1fSp0Z4" frameborder="0"
              allowfullscreen></iframe>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="videolayout">
            <!-- a beginner's guide to lifting weights - estee lalonde -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/8ikK8pQzXrg" frameborder="0"
              allowfullscreen></iframe>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="videolayout">
            <!-- the ultimate dumbbell workout  -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/K8OjJBgUvwQ" frameborder="0"
              allowfullscreen></iframe>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="videolayout">
            <!-- how to start weight training? -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/jepJoLdT5Aw" frameborder="0"
              allowfullscreen></iframe>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="videolayout">
            <!-- best home ab workout with weights -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/DqDwE9ip__g" frameborder="0"
              allowfullscreen></iframe>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="videolayout">
            <!-- home chest workout routine - best dumbbell exercises -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/eWKF_mHSDfI" frameborder="0"
              allowfullscreen></iframe>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="videolayout">
            <!-- 30 minute full body dumbbell workout -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/F9PXg7NeVP0" frameborder="0"
              allowfullscreen></iframe>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="videolayout">
            <!-- light weights vs heavy weights for muscle growth -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/m6EGAn4FlLg" frameborder="0"
              allowfullscreen></iframe>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="videolayout">
            <!-- entire week weight training routine simple and effective -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/znka9zjNFRw" frameborder="0"
              allowfullscreen></iframe>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="videolayout">
            <!-- muscle & strength: weight training for women day 1 -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/ukSLVLerNwk" frameborder="0"
              allowfullscreen></iframe>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-tab>

    <mat-tab label="CORE">
      <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile>
          <div class="videolayout">
            <!-- at home core workout: clutch life - ashley conrad's 24/7 fitness trainer -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/dJlFmxiL11s" frameborder="0"
              allowfullscreen></iframe>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="videolayout">
            <!-- 30min abs workout - intense core workout with warm up and cool down -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/N5ViYeGJOCA" frameborder="0"
              allowfullscreen></iframe>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="videolayout">
            <!-- full core workout - build thick abs & a strong core -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/k1cLRd7cahQ" frameborder="0"
              allowfullscreen></iframe>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="videolayout">
            <!-- 1hr core workout routine with rebecca kennedy -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/7jbU_-Z_nXE" frameborder="0"
              allowfullscreen></iframe>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="videolayout">
            <!-- how to strengthen your core: the 5 best core workout exercises -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Ut4GJuNuOM4" frameborder="0"
              allowfullscreen></iframe>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="videolayout">
            <!-- build superhuman core - beginner to advanced -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/-LuZaunTePw" frameborder="0"
              allowfullscreen></iframe>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="videolayout">
            <!-- top 10 hardest core exercises! how many could you do? -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/MfIQOrEYWA0" frameborder="0"
              allowfullscreen></iframe>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="videolayout">
            <!-- 3 exercise core killer - no crunch core workout -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Sq2l7Oz_0DA" frameborder="0"
              allowfullscreen></iframe>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="videolayout">
            <!-- top 5 exercises to strengthen your core and prevent injury -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/bCboX1rc4mU" frameborder="0"
              allowfullscreen></iframe>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="videolayout">
            <!-- beginner core workout at home -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/nOUZPfm0aLY" frameborder="0"
              allowfullscreen></iframe>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-tab>

    <mat-tab label="BURPEES & SQUATS">
      <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile>
          <div class="videolayout">
            <!-- burpees for beginners -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/dZgVxmf6jkA" frameborder="0"
              allowfullscreen></iframe>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="videolayout">
            <!-- squats for beginners -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/aclHkVaku9U" frameborder="0"
              allowfullscreen></iframe>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="videolayout">
            <!-- 5 reasons to love burpees -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/hAGe6UDgbn8" frameborder="0"
              allowfullscreen></iframe>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="videolayout">
            <!-- 21 bodyweight squat exercise variations -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/v-Mxt05j8E4" frameborder="0"
              allowfullscreen></iframe>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <!-- the burpee -->
          <div class="videolayout">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/TU8QYVW0gDU" frameborder="0"
              allowfullscreen></iframe>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <!-- how to perform the squat - proper squat form and technique -->
          <div class="videolayout">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Dy28eq2PjcM" frameborder="0"
              allowfullscreen></iframe>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <!-- how to improve burpees -->
          <div class="videolayout">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/wz-Z33_X6mE" frameborder="0"
              allowfullscreen></iframe>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <!-- how to do a squat boot camp workout -->
          <div class="videolayout">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/UXJrBgI2RxA" frameborder="0"
              allowfullscreen></iframe>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <!-- 75 burpees day for 30 days challenge..Results -->
          <div class="videolayout">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/ZtS_bL4wch4" frameborder="0"
              allowfullscreen></iframe>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <!-- 100 squat a day or 30 days challenge [my legs transformation results] -->
          <div class="videolayout">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/L-Dq6bsFRU8" frameborder="0"
              allowfullscreen></iframe>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-tab>

    <mat-tab label="RUNNING">
      <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile>
          <div class="videolayout">
            <!-- treadmill running form for beginners -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/aKfJJ1TuyE4" frameborder="0"
              allowfullscreen></iframe>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="videolayout">
            <!-- how to properly run for beginners -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/m-P8ge77FY4" frameborder="0"
              allowfullscreen></iframe>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="videolayout">
            <!-- 3 beginner running tips you need to know -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/uVlbTYY5pQA" frameborder="0"
              allowfullscreen></iframe>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="videolayout">
            <!-- run a mile without getting tired -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/ILEqwlZqY6A" frameborder="0"
              allowfullscreen></iframe>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="videolayout">
            <!-- beginner running speed training tips -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Kevpo42z2Qk" frameborder="0"
              allowfullscreen></iframe>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="videolayout">
            <!-- how to make running fun - 4 tips -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/IOCQu7JH8j8" frameborder="0"
              allowfullscreen></iframe>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="videolayout">
            <!-- how to run properly without stopping -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/hDNLomVdFtw" frameborder="0"
              allowfullscreen></iframe>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="videolayout">
            <!-- find your running pace -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/nbXOLjDssRE" frameborder="0"
              allowfullscreen></iframe>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="videolayout">
            <!-- how to start running for weight loss -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Qpx9GoB7Cjk" frameborder="0"
              allowfullscreen></iframe>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="videolayout">
            <!-- arm swing drill for better running -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/0pHOZva0Gic" frameborder="0"
              allowfullscreen></iframe>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-tab>

    <mat-tab label="PILATES">
      <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile>
          <div class="videolayout">
            <!-- pilates for beginners - total body workout -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/lCg_gh_fppI" frameborder="0"
              allowfullscreen></iframe>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="videolayout">
            <!-- total body pilates workout -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/zTLGjyt1GdQ" frameborder="0"
              allowfullscreen></iframe>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="videolayout">
            <!-- 3 minute lower abs -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/0Nv8lfshoqQ" frameborder="0"
              allowfullscreen></iframe>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="videolayout">
            <!-- arm fat blaster POP pilates for beginners -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/1yCRGqzp4rs" frameborder="0"
              allowfullscreen></iframe>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="videolayout">
            <!-- flat abs workout POP pilates for beginners -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/KlbKIju5Q3c" frameborder="0"
              allowfullscreen></iframe>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="videolayout">
            <!-- i really like you squat challenge -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/4_DJ2RyBmIY" frameborder="0"
              allowfullscreen></iframe>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="videolayout">
            <!-- best pilates workout core exercises for weight loss -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/ScrYmMT47AU" frameborder="0"
              allowfullscreen></iframe>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="videolayout">
            <!-- the ultimate pilates bootcamp sweat and tone -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/tKxjPat0R9I" frameborder="0"
              allowfullscreen></iframe>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="videolayout">
            <!-- pilates workout core pilates routine to tighten your abs -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/lVUlkXWUJU0" frameborder="0"
              allowfullscreen></iframe>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="videolayout">
            <!-- pilates workout at home pilates workout with weights -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/mzvM1QEoxJc" frameborder="0"
              allowfullscreen></iframe>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-tab>

    <mat-tab label="GYM EQUIPMENT">
      <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile>
          <div class="videolayout">
            <!-- how to use gym equipment - beginner's guide -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/3irVy7zN47w" frameborder="0"
              allowfullscreen></iframe>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="videolayout">
            <!-- how to use gym machine! upper body -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/xfDF0EHM4Jk" frameborder="0"
              allowfullscreen></iframe>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="videolayout">
            <!-- gym equipment basics -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/RlEt2DLstAc" frameborder="0"
              allowfullscreen></iframe>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="videolayout">
            <!-- gym cardio equipment explained - how to safely workout on cardio machines  -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/DTMV3MUxi-g" frameborder="0"
              allowfullscreen></iframe>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="videolayout">
            <!-- best machines ever! upper body workout in montreal -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/sZhp_nvlx78" frameborder="0"
              allowfullscreen></iframe>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="videolayout">
            <!-- how to use basic gym equipment (beginner's guide) -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/MBM5XN-PE7s" frameborder="0"
              allowfullscreen></iframe>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="videolayout">
            <!-- full body workout beginner gym exercises explained -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/s3KaWn897NY" frameborder="0"
              allowfullscreen></iframe>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="videolayout">
            <!-- best gym equipment - top 13 favourites -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/PQc98hymrMU" frameborder="0"
              allowfullscreen></iframe>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="videolayout">
            <!-- rowing machine technique and benefits -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/w2hGNM4l5so" frameborder="0"
              allowfullscreen></iframe>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="videolayout">
            <!-- full arm workout cables only -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/ngPAhUsVh5A" frameborder="0"
              allowfullscreen></iframe>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-tab>
  </mat-tab-group>

  <!-- 4:3 aspect ratio
        <div class="videolayout">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/VS6UOyTb5eU"
          frameborder="0" allowfullscreen></iframe>
        </div> -->