mat-form-field {
  width: 100%;
}
.profile-card {
  max-width: 75%;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.849);
}
.background {
  position: absolute;
  top: 55px;
  left: 0;
  bottom: 0;
  right: 0;
  background: url('/../assets/images/swim2.jpg') no-repeat center top;
  background-size: cover;
  content: '';
  z-index: -1;
  display: grid;
}

a {
  margin: 5px;
}
@media (max-width: 700px) {
  .gradient {
    position: absolute;
    top: 0%;
    left: 0;
    bottom: 0;
    right: 0;
    content: '';
    z-index: 0;
    background: linear-gradient(rgba(255, 255, 255, 0), rgb(255, 255, 255));
  }
}
